header{
    top: 0;
    background-color: white;
    border: 1px solid #6e6e6e33;
}

body{
    background-color: rgb(232, 240, 225);
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
.mv {
    margin: 20px;
    display: flex;
}
.mv h1{
    font-size: 13rem;
}
.mv .text{
    display: flex;
    pointer-events: none;
}
.breadcrumb{
    padding: 20px;
}
.timeline_sec .year{
    display: flex;
    justify-items: center;
    align-items: center;
    justify-content: center;
    margin:40px;
    font-size: 4rem;
}
.timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px 0;
}
.year-select{
    
    display: flex;
    align-items: flex-end;
    justify-content: center;
    align-content: center;
    margin-left: auto;
}
.year-select span{
    margin-left: 1rem;
    border-bottom:1px solid #333;

}
.year-select span:hover{
    font-size: 1.1rem;
}
.timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: #333;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
}
.timeline-item {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 100%;
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
}
.timeline-item {
    opacity: 0;
    transition: all 1s ease-out;
    will-change: opacity, transform;
}
.timeline-item.fade-in {
    opacity: 1;
    transform: translateX(0) scale(1) !important;
}
.timeline-item.fade-out {
    opacity: 0;
}
  /* 左右の方向クラス */
.from-left {
    transform: translateX(-100px) scale(0.5);
}
.from-right {
    transform: translateX(100px) scale(0.5);
}
/* .timeline-item::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 0px;
    background-color: white;
    border: 3px solid #050505;
    top: 15px;
    z-index: 1;
    transform: none;
} */
.timeline-bar span{
    position: relative;
}
.timeline-bar span::after{
    content: '';
    position: absolute;
    width: 25px;
    height: 0px;
    background-color: white;
    border: 3px solid #050505;
    z-index: 1;
    transform: none;
    left: calc(45.65vw);
}
/*
/* 奇数番目の項目（左側） 
.timeline-item:nth-child(odd) {
    left: 0;
}

.timeline-item:nth-child(odd)::after {
    right: -15px;
}

/* 偶数番目の項目（右側） 
.timeline-item:nth-child(even) {
    left: 50%;
}

.timeline-item:nth-child(even)::after {
    left: -15px;
}
*/
.text-content {
    padding: 20px 30px;
    width: 47%;
    background-color: rgba(255, 255, 255, 0.8);
    position: relative;
    border-radius: 6px;
    overflow: hidden;

}
.img-content{
    padding: 20px 30px;
    width: 47%;
    position: relative;
    border-radius: 6px;
    overflow: hidden;
}
.timeline-item .timeline-content:nth-child(1){
    margin-right: 3%;
    margin-bottom: 20px;
}
.timeline-item .timeline-content:nth-child(2){
    margin-left: 3%;
    margin-bottom: 20px;
}
.background-image {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-size: cover;
    background-position: center;
    opacity: 0.3;
    z-index: -1;
    transform: scale(1.1);
    transition: transform 0.3s ease-out;
}

.content-wrapper {
    position: relative;
    z-index: 1;
}
.image-warapper{
    position: relative;
    display: inline-block;
}

/* パララックス効果のための追加スタイル */
.timeline-item {
    perspective: 1000px;
}

.text-content {
    transform-style: preserve-3d;
    transition: transform 0.3s ease-out;
    text-align: center;
}
.text-content h2{
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid #3f3f3f31;
}
.text-content h3{
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid #3f3f3f31;

}
.text-content p{
    margin-top: 1rem;    text-align: justify;
    line-height: 1.5;
}
.Container{
    margin-top: 70px;
    margin-left: 76px;
}

.content-img{
    margin-top: 30px;
    width: 100%;
}
.image-wrapper .content-img{
    width: auto;
    height: 40%;
    margin: 0;
    opacity: 0.8;
    position: absolute;
}

/* .image-wrapper .content-img:first-child{
    top: 0;
    left: 40%;
}

.image-wrapper .content-img:last-child{
    bottom: 0;
    left: 0;
} */

.timeline-item :nth-child(1) .image-wrapper .content-img:first-child{
    top:10%;
    right: 20%;
}
.timeline-item :nth-child(1) .image-wrapper .content-img:last-child{
    bottom: 0;
    right: 0;
}
.timeline-item :nth-child(2) .image-wrapper .content-img:first-child{
    top: 10%;
    left: 20%;
}
.timeline-item :nth-child(2) .image-wrapper .content-img:last-child{
    bottom: 0;
    left: 0;
}
.content-img.dice{
    height: 70%;
}